package components

templ WaitingModal() {
	<div id="waiting-modal" class="fixed inset-0 bg-black/60 flex items-center justify-center z-30">
		<div id="searching-opponent" hx-get="/searching" hx-trigger="every 1s" hx-target="#body"></div>
		<div
			id="modal-content"
			class="w-full max-w-md bg-[#3e3a36] rounded-lg shadow-xl p-6 z-40"
			onclick="event.stopPropagation()"
		>
			<div class="text-center text-white text-2xl">
				Searching for opponent...
			</div>
		</div>
	</div>
}
