name: cd

on: [push]

jobs:
  deploy:

    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Check out the code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.0"

      - name: Build the projecet
        run: docker compose --build
